<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.carbon.mapper.BOMDataMapper">

    <resultMap id="BOMDataBOId" type="BOMDataVo">
        <id column="bid" property="bid" />
        <result column="bname" property="bname"/>
        <result column="product" property="product"/>
        <result column="model" property="model"/>
        <result column="specification" property="specification"/>
        <result column="unit" property="unit"/>
    </resultMap>

    <select id="getBOMData" resultMap="BOMDataBOId">
        select dbd.bid,dbd.bname,dpm.product,dm.model,dm.specification,dm.unit
        FROM dtb_bom_data dbd
        INNER JOIN dtb_material dm ON dm.mid = dbd.mid
        INNER JOIN dtb_product_modeling dpm ON dpm.pid = dbd.model
        <where>
            dbd.is_deleteId = 0
            <if test="bname != null and bname != ''">
                and bname Like concat('%',#{bname},'%')
            </if>
        </where>
    </select>

    <select id="getBOMDataDetailById" resultType="com.ruoyi.carbon.domain.BOMDetailData">
        select *
        from dtb_bom_detail_data dbdd
        INNER JOIN dtb_bom_data dbd ON dbdd.bid = dbd.bid
        where dbdd.bid = #{id}
    </select>
</mapper>