<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.carbon.mapper.EnergyMapper">
    <select id="pageList" resultType="EnergyCollect">
        select *
        from dtb_energycollect
        <where>
            <if test="devicename != null and devicename != ''">
                and devicename like concat('%',#{devicename},'%')
            </if>
            <if test="currentDate != null and currentDate != ''">
                and `current_date` like concat('%',#{currentDate},'%')
            </if>
        </where>
        order by `current_date` desc
        <!-- limit #{pageNum},#{pageSize} -->
    </select>
</mapper>